<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mmm">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gameicon4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gameicon4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".GameWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/game_widget_info" />
        </receiver>

        <activity android:name=".ui.LeaderboardActivity" />
        <activity android:name=".ui.RegistrationActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.GameActivity" />

        <service android:name=".NotificationService" />
    </application>

</manifest>